<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.sfl.MediaScannerPlugin"
    version="1.1.0">

    <name>Media Scanner Plugin</name>

    <description>Scans specified file paths to register them in the image gallery, media player...</description>
    <author>Ouzned - https://github.com/Ouzned</author>
    <keywords>android,image,photo library,mediascanner</keywords>

    <engine>
        <engine name="cordova" version=">=2.9.0" />
    </engine>

    <license>MIT</license>

    <js-module src="www/MediaScannerPlugin.js" name="MediaScannerPlugin">
        <clobbers target="window.mediaScannerPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="MediaScannerPlugin" >
            <param name="android-package" value="net.mahoneko.MediaScannerPlugin"/>
          </feature>
        </config-file>

        <source-file src="src/net/mahoneko/MediaScannerPlugin.java" 
            target-dir="src/net/mahoneko/MediaScannerPlugin" />
    </platform>
</plugin>
