<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.upxsys.MediaScannerPlugin"
    version="1.0.0">

    <name>Media Scanner Plugin</name>

    <description>Scans specified file paths to register them in the image gallery, media player...</description>
    <author>Mario Penterman - https://github.com/upxsys/MediaScannerPlugin</author>
    <keywords>android,image,photo library,mediascanner</keywords>

    <engine>
        <engine name="cordova" version=">=2.9.0" />
    </engine>

    <license>MIT</license>

    <js-module src="www/MediaScannerPlugin.js" name="MediaScannerPlugin">
        <clobbers target="mediaScannerPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="MediaScannerPlugin" >
            <param name="android-package" value="com.upxsys.MediaScannerPlugin.MediaScannerPlugin"/>
          </feature>
        </config-file>

        <source-file src="src/android/com/upxsys/MediaScannerPlugin.java" target-dir="src/com/upxsys/MediaScannerPlugin" />
    </platform>
</plugin>
